<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="org.zerock.mapper.project01.MemberMapper">
 	
 	<select id="getCountRows" resultType="int">	<!-- id : 메소드명 resultType : return의 데이터 타입 -->
 		SELECT COUNT(*) FROM Member
 	</select>
 	
 	<select id="getListPage" resultType="org.zerock.domain.project01.MemberVO">
SELECT 
    m.id,
    m.password,
    m.email,
    m.address,
    m.inserted,
    m.nickName,
    COUNT(b.id) AS numberOfBoard
FROM
    Member m
        LEFT JOIN
    Board b ON m.id = b.writer
GROUP BY m.id
ORDER BY m.inserted DESC
LIMIT #{from}, #{items}
 	</select>
 	
 	<insert id="insert">
 		INSERT INTO Member
 			(id, password, email, address, nickName)
 		VALUES
 			(#{id}, #{password}, #{email}, #{address}, #{nickName})
 	</insert>
 	
 	<select id="select" resultType="org.zerock.domain.project01.MemberVO">
 		SELECT
 			id, password, email, address, inserted, nickName
 		FROM
 			Member
 		WHERE id = #{id}
 	</select>
 	
 	<select id="selectNickName" resultType="org.zerock.domain.project01.MemberVO">
 	 	SELECT
 			id, password, email, address, inserted, nickName
 		FROM
 			Member
 		WHERE nickName = #{nickName}
 	</select>
 	
 	<update id="update" >
 		UPDATE Member SET
 			password = #{password},
 			email = #{email},
 			address = #{address},
 			nickName = #{nickName}
 		WHERE
 			id = #{id}
 	</update>
 	
 	<delete id="delete">
 		DELETE FROM Member WHERE id = #{id}
 	</delete>
 	
 	<select id="list" resultType="org.zerock.domain.project01.MemberVO">
SELECT 
    m.id,
    m.password,
    m.email,
    m.address,
    m.inserted,
    m.nickName,
    COUNT(b.id) AS numberOfBoard
FROM
    Member m
        LEFT JOIN
    Board b ON m.id = b.writer
GROUP BY m.id
ORDER BY m.inserted DESC
 	</select>
 
 </mapper>